testBLE.xcodeproj/project.xcworkspace/xcshareddata/testBLE.xccheckout
testBLE.xcodeproj/xcuserdata/tojo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
testBLE.xcodeproj/xcuserdata/tojo.xcuserdatad/xcschemes/testBLE.xcscheme
testBLE.xcodeproj/xcuserdata/tojo.xcuserdatad/xcschemes/xcschememanagement.plist
